.navbar {
	width: 100%;
	/*background-color: #e3f2fd; */
	margin: auto;
}
#icon {
	width: 75px;
	height: 75px;
}
#body {
	width: 100%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

#title {
	margin-top: 270px
}

#about {
	width: 80%;
	margin: auto;
	text-align: center;
	background-color: #131712;
	color: grey;
	height: 100px;
	padding-top: 0px;
	font-style: italic;
}

.container .jumbotron {
	border-radius: 0px;
}

#header-img {
	width: 80%;
	height: 500px;
	margin: auto;
  background: linear-gradient(rgba(19,23,18,0.2),rgba(19,23,18,1)), url('background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
	text-align: center;
	color:white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#grid {
	width: 80%;
	margin-top: 75px;
}
.ingred-list {
	width: 100%;
	margin-left: 0px;
}
.remove {
	float: right;
}
.remove .btn {
	border: 0px solid transparent;
}

.include .list-group-item {
	height: 35px;
	font-size: 17px;
	overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap;
  border: none;
	box-shadow: 0 4px 2px -2px darkolivegreen; /*green*/
	margin-bottom: 5px;
}

.exclude .list-group-item {
	height: 35px;
	font-size: 17px;
	overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap;
  border: none;
	box-shadow: 0 4px 2px -2px darkred; /*green*/
	margin-bottom: 5px;
}

.panel {
	width: 80%
	margin-left: auto;
	margin-right: auto;
}

.panel-img-top {
	width: 100%;
}

.recipes .panel-heading {
	text-align: center;
	font-size: 16px;
}

.checked {
    color: gold;
}

.recipes .panel-title {
	text-align: center;
}

.recipes .btn {
	float: right;
}

.footer {
	margin-top: 75px;
  height: 100px;
  bottom: 0;
  width: 100%;
  text-align: center;
}

html, body {
  background-color: #F1F1F1;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}

.panel-default {
	border: none;
}

input[type=text] {
	font-size: 20px;
	text-align: center;
  height: 30px;
  border: 0;
  width: 100%;
  box-shadow: -0 4px 2px -2px #ebebeb; /*default grey*/
  -webkit-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
}
input[type=text]:focus {
  outline: none;
  box-shadow: 0 4px 2px -2px grey;
}
