body {
  /*font-family: 'Dosis', sans-serif !important; */
  /*font-family: 'Quicksand', sans-serif;*/
  font-family: 'Abel', sans-serif;
}
.navbar {
  width: 100%;
  /*background-color: #e3f2fd; */
  margin: auto;
}
#icon {
  width: 75px;
  height: 75px;
}

#body {
  width: 100%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

#title {
  margin-top: 270px
}

#about {
  width: 80%;
  margin: auto;
  text-align: center;
  background-color: #131712;
  color: grey;
  height: 100px;
  padding-top: 0px;
  font-style: italic;
}

.container .jumbotron {
  border-radius: 0px;
}

#header-img {
  width: 80%;
  height: 500px;
  margin: auto;
  background: linear-gradient(rgba(19,23,18,0.2),rgba(19,23,18,1)), url('background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  color:white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#grid {
  width: 80%;
  margin-top: 75px;
}

#prev{
    width: 100%;
    margin-top: 12px;
}

.ingred-list {
  width: 100%;
  margin-left: 0px;
}
.ingred-list li {
  display: inline;
  float: left;
  margin-right: 10px;
}

.remove {
  float: right;
}
.remove .btn {
  border: 0px solid transparent;
}

.include .list-group-item {
  height: 35px;
  font-size: 17px;
  overflow: hidden; 
  text-overflow: ellipsis; 
  border: none;
  box-shadow: 0 4px 2px -2px darkolivegreen; /*green*/
  margin-bottom: 5px;
}

.exclude .list-group-item {
  height: 35px;
  font-size: 17px;
  overflow: hidden; 
  text-overflow: ellipsis; 
  border: none;
  box-shadow: 0 4px 2px -2px darkred; /*green*/
  margin-bottom: 5px;
}

.panel {
  border-radius: 0 !important;
  width: 80%
  margin-left: auto;
  margin-right: auto;
}

.panel-img-top {
  width: 100%;
}

.panel-text {
  font-size: 15px;
  margin-top: 10px;
}

.recipes .panel-heading {
  font-weight: bold;
  border-radius: 0 !important;
  text-align: center;
  font-size: 18px;
}

.checked {
    color: gold;
}

.recipes .panel-title {
  text-align: center;
}

.recipes .btn {
  float: right;
}

.footer {
  margin-top: 75px;
  height: 100px;
  bottom: 0;
  width: 100%;
  text-align: center;
}

html, body {
  background-color: #F1F1F1;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}

.panel-default {
  margin-bottom: 10px;
  border: none;
}

input[type=text] {
  font-size: 17px;
  text-align: center;
  height: 30px;
  border: 0;
  width: 100%;
  box-shadow: -0 4px 2px -2px #ebebeb; /*default grey*/
  -webkit-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
}
input[type=text]:focus {
  outline: none;
  box-shadow: 0 4px 2px -2px grey;
}

input[type=file] {
  margin-top: 10px;
}

form#new-recipe-form input[type=text] {
  text-align: left;
}

.submit {
  display: block;
  width: 150px;
  margin: 0 auto;
  box-shadow: 3px 3px 8px darkgrey; /*default grey*/
  font-size: 17px;
  margin-bottom: 25px;
  border: none;
}

.link {
  background-color: white;
  color: black;
  margin: 0 auto;
  box-shadow: 3px 3px 8px darkgrey; /*default grey*/
  font-size: 17px;
  margin-bottom: 25px;
  border: none;
}

.link:hover {
  background-color: lightgrey;
  border: none;
  color: black;
}

.panel-header {
  background-color: lightblue;
  color: black;
  border-style: none none groove none; 
}

/* Inlines the add query button */
.search {
  width: 100%
  margin: 0 auto;
}

.info {
  padding:40px;
  margin: 0 auto;
  background-color: white;
  width: 100%;
}

.info h3 {
  text-align: center;
  font-style: italic;
}

.instr {
  margin-top: 20px;
  border-top: 2px solid lightgrey;
}

.instr li {
  font-size: 16px;
}

#usr {
  text-align: center;
}

.plus_btn {
  background-color: white;
  border:none;
  color: white;
  width: 0px;
  height: 0px;
/*  float: right;
  margin-right: 5px;
  box-shadow: 3px 3px 8px darkgrey; 
  font-size: 17px;
  border: none;
  outline: none;
  text-decoration: none !important;
  font-weight: bold !important;
  color: darkgrey !important;*/
}

.trio {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.greet {
  background-color: white;
  text-align: center;
  width: 100%;
  padding: 15px;
  overflow: hidden;
}

.upload {
  padding-left: 40px;
  padding-right: 40px;
}

#deleteRecipe  {
  color: red;
}
