{% extends "layout.html" %}

{% block nav_about %}<li class="active"><a>About</a></li>{% endblock %}

{% block body %}
      <div class=info>
        <h3>About Pocket Recipes</h3>
        <br>
        <p>
            Have you ever had the problem where you have a full fridge but don't know what to do with all your ingredients?
            <br>
            Simply enter in all of the ingredients you want to use and we will curate a list of recipes that fit your fridge.
            <br>
            <br>
            Created by: Calvin Ly, Evonne Ng, Kevin Chau, Hasan Genc, Matt Tawil
          <div class=instr>
            <h3>It's as easy as 1, 2, 3!</h3>
            <ol>
              <li>Enter all ingredients you want to include in the recipes in the TOP box</li>
              <li>Enter all ingredients you are allergic to or just don't like in the BOTTOM box</li>
              <li>Submit Query!</li>
            </ol>
          </div>
          <hr>
          <div class=tools>
            <h3>Tools used to create this project</h3>
            <ul>
                <li>Google Cloud SDK written in Python 2.7</li>
                <li>Bootstrap and JQuery for HTML, CSS, and Javascript</li>
                <li>SQL for database storage and management</li>
                <li>Testing</li>
                <ul>
                    <li>Selenium for UI testing</li>
                    <li>Controller tests with integration testing (REST)</li>
                    <li>Python for database queries (Component and Unit testing)</li>
                </ul>
            </ul>
            <p>Source code can be found <a href=https://github.com/chaumifan/EE461L_Project>here</p>
        </div>
        </p>
      </div>
      <br>
<!-- end of grid -->
{% endblock %}
