<html>
  <head>
    <title> Pocket Recipes </title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

  </head>
  <body>
    <nav class="navbar navbar-light navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Pocket Recipes</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Browse Recipes</a></li>
          <li><a href="#">Upload Creation</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </nav>
    <div id=body class="container">
      <div id="header" class="jumbotron">
        <img id="icon" src="{{ url_for('static', filename='icon_burned.png') }}"/>
        <h1> Pocket Recipes </h1>
      </div>
      <div id="grid" class="container">
        <!-- create div to display include ingredients -->
        <div class="row">
          <div class="col-sm-3">
            <!-- search row -->
            <div class="panel panel-success">
              <div class="panel-heading">Specify ingredients you want included in your queries: </div>
              <div class="panel-body">
                <div id=search>
                  <form class="form-inline active-green-4">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input type="text" class="form-control" placeholder="Include Ingredients" style="width: 90%">
                  </form>
                </div>
                <!-- dummy ingredient list -->
                <div id=ingred-list class="container include">
                  <ul class="list-group">
                    <li class="list-group-item">Cras justo odio
                      <span class="remove">
                        <span class="btn btn-sm btn-default" onclick="">
                          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </span>
                      </span>
                    </li>
                    <li class="list-group-item">Dapibus ac facilisis in
                      <span class="remove">
                        <span class="btn btn-sm btn-default" onclick="">
                          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </span>
                      </span>
                    </li>
                    <li class="list-group-item">Morbi leo risus
                      <span class="remove">
                        <span class="btn btn-sm btn-default" onclick="">
                          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </span>
                      </span>
                    </li>
                    <li class="list-group-item">Porta ac consectetur ac
                      <span class="remove">
                        <span class="btn btn-sm btn-default" onclick="">
                          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </span>
                      </span>
                    </li>
                    <li class="list-group-item">Vestibulum at eros
                      <span class="remove">
                        <span class="btn btn-sm btn-default" onclick="">
                          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </span>
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- end of first panel -->

            </br>

            <!-- create div to display exclude ingredients -->
            <div class="panel panel-danger">
              <div class="panel-heading">Specify ingredients you want excluded in your queries: </div>
              <div class="panel-body">
                <div id=search>
                  <form class="form-inline active-red-4">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input type="text" class="form-control" placeholder="Exclude Ingredients" style="width: 90%">
                  </form>
                </div>
                <!-- dummy ingredient list -->
                 <div id=ingred-list class="container exclude">
                  <ul class="list-group">
                    <li class="list-group-item">Cras justo odio
                      <span class="remove">
                        <span class="btn btn-sm btn-default" onclick="">
                          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </span>
                      </span>
                    </li>
                    <li class="list-group-item">Dapibus ac facilisis in
                      <span class="remove">
                        <span class="btn btn-sm btn-default" onclick="">
                          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </span>
                      </span>
                    </li>
                    <li class="list-group-item">Morbi leo risus
                      <span class="remove">
                        <span class="btn btn-sm btn-default" onclick="">
                          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </span>
                      </span>
                    </li>
                    <li class="list-group-item">Porta ac consectetur ac
                      <span class="remove">
                        <span class="btn btn-sm btn-default" onclick="">
                          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </span>
                      </span>
                    </li>
                    <li class="list-group-item">Vestibulum at eros
                      <span class="remove">
                        <span class="btn btn-sm btn-default" onclick="">
                          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </span>
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- end of second panel -->

          <div class="col-sm-4">
            <!-- start of recipe panels -->
            <div class="panel panel-info recipes">
              <!-- dummy individual panels -->
              <div class="panel-heading">Card Title</div>
              <img class="panel-img-top" src="https://i.imgur.com/0K4qGqY.jpg" alt="Card image cap">
              <div class="panel-body">
                <h2 class="panel-title">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </h2>
                <p class="panel-text">Description of recipe, etc.etc.etc...</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>

            <div class="panel panel-info recipes">
              <!-- dummy individual panels -->
              <div class="panel-heading">Card Title</div>
              <img class="panel-img-top" src="https://i.imgur.com/0K4qGqY.jpg" alt="Card image cap">
              <div class="panel-body">
                <h2 class="panel-title">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </h2>
                <p class="panel-text">Description of recipe, etc.etc.etc...</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
              <!-- end of dummy data -->
            </div>

          </div>

          <div class="col-sm-4">
            <!-- start of recipe panels -->
            <div class="panel panel-info recipes">
              <!-- dummy individual panels -->
              <div class="panel-heading">Card Title</div>
              <img class="panel-img-top" src="https://i.imgur.com/0K4qGqY.jpg" alt="Card image cap">
              <div class="panel-body">
                <h2 class="panel-title">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </h2>
                <p class="panel-text">Description of recipe, etc.etc.etc...</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>

            <div class="panel panel-info recipes">
              <!-- dummy individual panels -->
              <div class="panel-heading">Card Title</div>
              <img class="panel-img-top" src="https://i.imgur.com/0K4qGqY.jpg" alt="Card image cap">
              <div class="panel-body">
                <h2 class="panel-title">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </h2>
                <p class="panel-text">Description of recipe, etc.etc.etc...</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
              <!-- end of dummy data -->
            </div>
            
          </div>

        </div>
        <!-- end of row -->
      </div>
      <!-- end of grid -->
    </div>

    <footer class="navbar-default">
      <div class="container footer">
        <div class="row">
          <h3><i class="fa fa-facebook"></i>  <i class="fa fa-twitter"></i> <i class="fa fa-envelope"></i> </h3>
          <p>PocketRecipes&#169;</p>
        </div>
      </div>
    </footer>

  </body>
</html>
