{% extends "layout.html" %}

{% block scripts %}
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
  $(document).ready(function(){
    var header = $('#header-img');
    var backgrounds = new Array(
      'static/background3.jpg',
      'static/background2.jpg',
      'static/background.jpg'
    );

    var current = 0;

    function nextBackground() {
        current++;
        current = current % backgrounds.length;
        header.css('background', 'linear-gradient(rgba(19,23,18,0.2),rgba(19,23,18,1)), url(' + backgrounds[current] + ')');
        header.css('background-repeat', 'no-repeat');
        header.css('background-size', '100%');
    }
    setInterval(nextBackground, 6000);

    // header.css('background', backgrounds[0]);
  });
</script>
{% endblock %}

{% block nav_browse %}<li class="active"><a>Browse Recipes</a></li>{% endblock %}

{% block body %}
<div id="header-img" class="jumbotron">
  <div id="title">
    <img id="icon" src="{{ url_for('static', filename='icon_burned.png') }}" alt="Card image cap"/>
    <h1> Pocket Recipes </h1>
  </div>
</div>
<!-- end header section -->

<div id="about" class="jumbotron">
  <p>Find recipes that are right for your fridge</p>
</div>
<!-- end about section -->

<div id="grid" class="container">
  <!-- create div to display include ingredients -->
  <div class="submit btn btn-sm btn-default" onclick="">
    Submit Query
  </div>
  <div class="row">
    <div class="col-sm-3">
      <!-- search row -->
      <div class="panel panel-default">
        <div class="panel-body">
          <div class=search>
            <form>
              <input class="input" placeholder="Specify which ingredients to include" type="text" >
            </form>
          </div>
          <br>
          <!-- dummy ingredient list -->
          <div class="container ingred-list include">
            <ul class="list-group">
              <li class="list-group-item">Tomato
                <span class="remove">
                  <span class="btn btn-sm btn-default" onclick="">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </span>
                </span>
              </li>
              <li class="list-group-item">Potato
                <span class="remove">
                  <span class="btn btn-sm btn-default" onclick="">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </span>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- end of first panel -->
      <br>
      <!-- create div to display exclude ingredients -->
      <div class="panel panel-default">
        <div class="panel-body">
          <div class=search>
            <form class="form-inline active-red-4" method="post">
              <input class="input" placeholder="Specify which ingredients to exclude" type="text" >
            </form>
          </div>
          <br>
           <div class="container ingred-list exclude">
            <ul class="list-group">
              <li class="list-group-item">Tomato
                <span class="remove">
                  <span class="btn btn-sm btn-default" onclick="">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </span>
                </span>
              </li>
              <li class="list-group-item">Potato
                <span class="remove">
                  <span class="btn btn-sm btn-default" onclick="">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </span>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- end of second panel -->
    </div>

    <div class="col-sm-3">
      <!-- start of recipe panels -->
      <div class="panel panel-info recipes">
        <!-- dummy individual panels -->
        <div class="panel-heading">Card Title</div>
        <img class="panel-img-top" src="https://i.imgur.com/0K4qGqY.jpg" alt="Card image cap">
        <div class="panel-body">
          <h2 class="panel-title">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </h2>
          <p class="panel-text">Description of recipe, etc.etc.etc...</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="panel panel-info recipes">
        <!-- dummy individual panels -->
        <div class="panel-heading">Card Title</div>
        <img class="panel-img-top" src="https://i.imgur.com/0K4qGqY.jpg" alt="Card image cap">
        <div class="panel-body">
          <h2 class="panel-title">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </h2>
          <p class="panel-text">Description of recipe, etc.etc.etc...</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <!-- end of dummy data -->
      </div>

    </div>

    <div class="col-sm-3">
      <!-- start of recipe panels -->
      <div class="panel panel-info recipes">
        <!-- dummy individual panels -->
        <div class="panel-heading">Card Title</div>
        <img class="panel-img-top" src="https://i.imgur.com/0K4qGqY.jpg" alt="Card image cap">
        <div class="panel-body">
          <h2 class="panel-title">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </h2>
          <p class="panel-text">Description of recipe, etc.etc.etc...</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="panel panel-info recipes">
        <!-- dummy individual panels -->
        <div class="panel-heading">Card Title</div>
        <img class="panel-img-top" src="https://i.imgur.com/0K4qGqY.jpg" alt="Card image cap">
        <div class="panel-body">
          <h2 class="panel-title">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </h2>
          <p class="panel-text">Description of recipe, etc.etc.etc...</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <!-- end of dummy data -->
      </div>

    </div>

    <div class="col-sm-3">
      <!-- start of recipe panels -->
      <div class="panel panel-info recipes">
        <!-- dummy individual panels -->
        <div class="panel-heading">Card Title</div>
        <img class="panel-img-top" src="https://i.imgur.com/0K4qGqY.jpg" alt="Card image cap">
        <div class="panel-body">
          <h2 class="panel-title">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </h2>
          <p class="panel-text">Description of recipe, etc.etc.etc...</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="panel panel-info recipes">
        <!-- dummy individual panels -->
        <div class="panel-heading">Card Title</div>
        <img class="panel-img-top" src="https://i.imgur.com/0K4qGqY.jpg" alt="Card image cap">
        <div class="panel-body">
          <h2 class="panel-title">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </h2>
          <p class="panel-text">Description of recipe, etc.etc.etc...</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <!-- end of dummy data -->
      </div>
      
    </div>

  </div>
  <!-- end of row -->
</div>
<!-- end of grid -->
{% endblock %}
