<!DOCTYPE html>
<html>
  <head>
    <title> Pocket Recipes </title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

    {% block scripts %}{% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Pocket Recipes</a>
        </div>
        <ul class="nav navbar-nav">
          {% block nav_browse %}<li><a href="/">Browse Recipes</a></li>{% endblock %}
          {% block nav_create %}<li><a href="{{ url_for('create') }}">Upload Creation</a></li>{% endblock %}
          {% block nav_about  %}<li><a href="{{ url_for('about') }}">About</a></li>{% endblock %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if user %}
            <li><a><span class="glyphicon glyphicon-user"></span> Welcome, {{ user.nickname() }}! </a></li>
            <li><a href="{{ logout_url() }}"><span class="glyphicon glyphicon-log-out"></span> Logout </a></li>
          {% else %}
            <li><a><span class="glyphicon glyphicon-user"></span> Welcome, guest! </a></li>
            <li><a href="{{ login_url() }}"><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <div id=body>
    {% block body %}{% endblock %}
    </div>

    <footer class="navbar-default">
      <div class="footer container">
        <div class="row">
            <h3><a href="https://github.com/chaumifan/EE461L_Project"><i class="fa fa-github"></i></a></h3>
          <p>PocketRecipes&#169;</p>
        </div>
      </div>
    </footer>

  </body>
</html>
