{% for r in res %}
      <div class="col-sm-4">
        <!-- start of recipe panels -->
        <div class="panel panel-default recipes">
          <!-- dummy individual panels -->
          <div class="panel-heading">{{r.name}}</div>
          <img class="panel-img-top" src="{{r.image_link}}" alt="Card image cap">
          <div class="panel-body">
            <h2 class="panel-title">
              {% for i in range(1,6) %}
              <span class="fa 
                {% if ((r.rating - (i-1) > 0.3) and (r.rating - (i-1) < 0.7)) %}
                  {{'fa-star-half-o'}}
                {% else if i <= r.rating %}
                  {{'fa-star'}}
                {% else %}
                  {{'fa-star-o'}}
                {% endif %}
                {{' checked'}}"
                onclick="rate('{{r.name}}', {{i}})" id="{{r.name}}-star-{{i}}"></span>
              {% endfor %}
            </h2>
            <p class="panel-text">{{r.description}}</p>
            <p class="panel-text ingred">Ingredients: 
            {% for ingred in r.ingred_list %}
              {{ ingred + ',' }}
            {% endfor %}
            </p>
            <a href="{{r.instructions}}" target="_blank" class="link btn btn-default">Go to recipe</a>
          </div>
        </div>
      </div>
{% endfor %}

{#
                {% if (r.rating - (i-1) > 0.3) and (r.rating - (i-1) < 0.7): %}
                  {{'fa-star-half-o'}}
                {% else %}
                  {% if i <= r.rating %}
                    {{'fa-star'}}
                  {% else %}
                  {{'fa-star-o'}}
                  {% endif %}
                {% endif %}
#}

{#
                {% if i <= r.rating %}
                  {% if i is not number %}
                    {{'fa-star-half-o'}}
                  {% else %}
                    {{'fa-star'}}
                  {% endif %}
                {% else %}
                  {{'fa-star-o'}}
                {% endif %}
#}
{#
                {% if i <= r.rating %}
                  {% if not ((r.rating - (i-1) > 0.25) and (r.rating - (i-1) < 0.75)) %}
                    {{'fa-star'}}
                  {% else %}
                    {{'fa-star-half-o'}}
                  {% endif %}
                {% else %}
                  {{'fa-star-o'}}
                {% endif %}
#}
{#
                {% if i <= r.rating %}
                  {{'fa-star'}}
                {% else %}
                  {% if ((r.rating - (i-1) > 0.25) and (r.rating - (i-1) < 0.75)) %}
                    {{'fa-star-half-o'}}
                  {% else %}
                  {{'fa-star-o'}}
                {% endif %}
#}
